.container{

    margin-left:100px;


}

div.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.form-select{

    border: none;
    border-bottom: 1px black solid;

}

.glow {
    font-size: 80px;

    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px  #ffd633
, 0 0 40px  #ffd633
, 0 0 50px  #ffd633
, 0 0 60px  #ffd633
, 0 0 70px  #ffd633
;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

canvas{
    background:#000;
}

body{

    overflow:hidden;
    margin:0;
}